PORT=8000
HOST=0.0.0.0
WORKSTATION_JARVIS_URL=http://jarvis:8000
PI_URL=http://jarvis-pi:5000
PI_API_TOKEN=replace-me

OIDC_ISSUER=https://auth.jarvis.leongrass.ch/application/o/jarvis
OIDC_CLIENT_ID=YOUR_CLIENT_ID
OIDC_CLIENT_SECRET=YOUR_CLIENT_SECRET
OIDC_REDIRECT_URI=https://jarvis.leongrass.ch/auth/callback

SESSION_SECRET=some_long_random_string
FRONTEND_URL=https://jarvis.leongrass.ch
INTERNAL_JARVIS_SHARED_SECRET=another_long_random_string

JARVIS_TRUSTED_BACKEND_KEY_ID=
JARVIS_TRUSTED_BACKEND_SECRET=